# CoDeSys build/cache
*.app
*.compiled-library
*.precompilecache
*.opt
*.compileinfo
*.bootinfo_guids
*.bootinfo

# Progetti CoDeSys binari
*.workspace
*.settings/

# File di sistema
Thumbs.db
*.bak
*.tmp